<div class="table-container">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th naoColumnResize [minWidth]="40">
          <input
            type="checkbox"
            #selectAllToggle
            (change)="selectAllRows(selectAllToggle.checked)"
          />
        </th>
        <th naoColumnResize [minWidth]="250" class="position-relative">
          Name
          <div class="action-buttons-container" *ngIf="isAnyRowSelected">
            <button class="btn btn-sm btn-danger me-2">Delete multiple</button>
          </div>
        </th>
        <th naoColumnResize [minWidth]="150">Type</th>
        <th naoColumnResize [minWidth]="250">Email</th>
        <th naoColumnResize [minWidth]="150">Phone Number</th>
        <th naoColumnResize [minWidth]="150">Company Name</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of filteredData">
        <tr
          [ngClass]="{ 'selected-row': row.isSelected }"
          (mouseenter)="row.hover = true"
          (mouseleave)="row.hover = false"
        >
          <td>
            <input
              type="checkbox"
              [(ngModel)]="row.isSelected"
              (change)="onCheckboxChange()"
            />
          </td>
          <td class="position-relative">
            <div class="icon-wrapper" [ngClass]="{ expanded: row.expanded }">
              <i
                *ngIf="row.children?.length"
                class="bi-arrow-right-short"
                (click)="row.expanded = !row.expanded"
              ></i>
            </div>

            {{ row.name }}

            <div
              class="action-buttons-container"
              *ngIf="row.hover && !isAnyRowSelected"
            >
              <button class="btn btn-sm btn-primary me-1">Edit</button>
              <button class="btn btn-sm btn-danger">Delete</button>
            </div>
          </td>
          <td>{{ row.type }}</td>
          <td class="email">{{ row.email }}</td>
          <td>{{ row.phoneNo }}</td>
          <td>{{ row.companyName }}</td>
        </tr>
        <ng-container *ngIf="row.expanded">
          <ng-container
            *ngTemplateOutlet="
              nestedRow;
              context: { $implicit: row.children, level: 1 }
            "
          ></ng-container>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>

<ng-template #nestedRow let-rows let-level="level">
  <ng-container *ngFor="let row of rows">
    <tr
      [ngClass]="{ 'selected-row': row.isSelected }"
      (mouseenter)="row.hover = true"
      (mouseleave)="row.hover = false"
    >
      <td>
        <input
          type="checkbox"
          [(ngModel)]="row.isSelected"
          (change)="onCheckboxChange()"
        />
      </td>
      <td class="position-relative" [style.padding-left.px]="level * 24">
        <div class="icon-wrapper" [ngClass]="{ expanded: row.expanded }">
          <i
            *ngIf="row.children?.length"
            class="bi-arrow-right-short"
            (click)="row.expanded = !row.expanded"
          ></i>
        </div>
        {{ row.name }}
        <div
          class="action-buttons-container"
          *ngIf="row.hover && !isAnyRowSelected"
        >
          <button class="btn btn-sm btn-danger">Delete</button>
        </div>
      </td>
      <td>{{ row.type }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.phoneNumber }}</td>
      <td>{{ row.companyName }}</td>
    </tr>
    <ng-container *ngIf="row.expanded">
      <ng-container
        *ngTemplateOutlet="
          nestedRow;
          context: { $implicit: row.children, level: level + 1 }
        "
      ></ng-container>
    </ng-container>
  </ng-container>
</ng-template>
