.table-container {
  max-width: 100%;
  overflow-x: auto;
  display: block;
}

table {
  width: auto;
}

.selected-row {
  background-color: hsla(0, 0%, 0%, 0.1);
}

tr:hover {
  background-color: hsla(0, 0%, 0%, 0.05);
}

td:has(> .icon-wrapper) {
  padding-left: 0;
}

td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 0px;
}

.icon-wrapper {
  width: 1.5rem;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.3s;

  &.expanded {
    transform: rotate(90deg);
  }

  & i {
    padding-inline: 0.25rem;
  }
}

.action-buttons-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
