<div class="container">
  <table class="table table-bordered table-hover table-responsive">
    <thead>
      <tr>
        <th>
          <input type="checkbox" (change)="selectAllRows($event)" />
        </th>
        <th>Name</th>
        <th>Type</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Company Name</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let row of data">
        <tr
          [ngClass]="{ 'selected-row': row.isSelected }"
          (mouseenter)="row.hover = true"
          (mouseleave)="row.hover = false"
        >
          <td>
            <input type="checkbox" [(ngModel)]="row.isSelected" />
          </td>
          <td>
            <div class="icon-wrapper">
              <i
                *ngIf="row.children?.length"
                class="bi-arrow-right-short"
                [ngClass]="{ expanded: row.expanded }"
                (click)="row.expanded = !row.expanded"
              ></i>
            </div>

            {{ row.name }} z
          </td>
          <td>{{ row.type }}</td>
          <td>{{ row.email }}</td>
          <td>{{ row.phoneNo }}</td>
          <td>{{ row.companyName }}</td>
        </tr>
        <ng-container *ngIf="row.expanded">
          <ng-container
            *ngTemplateOutlet="
              nestedRow;
              context: { $implicit: row.children, level: 1 }
            "
          ></ng-container>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</div>

<ng-template #nestedRow let-rows let-level="level">
  <ng-container *ngFor="let row of rows">
    <tr
      [ngClass]="{ 'selected-row': row.isSelected }"
      (mouseenter)="row.hover = true"
      (mouseleave)="row.hover = false"
    >
      <td>
        <input type="checkbox" [(ngModel)]="row.isSelected" />
      </td>
      <td [style.padding-left.px]="level * 12 + 8">
        <div class="icon-wrapper">
          <i
            *ngIf="row.children?.length"
            class="bi-arrow-right-short"
            [ngClass]="{ expanded: row.expanded }"
            (click)="row.expanded = !row.expanded"
          ></i>
        </div>
        {{ row.name }} - {{ level }}
      </td>
      <td>{{ row.type }}</td>
      <td>{{ row.email }}</td>
      <td>{{ row.phoneNumber }}</td>
      <td>{{ row.companyName }}</td>
    </tr>
    <ng-container *ngIf="row.expanded">
      <ng-container
        *ngTemplateOutlet="
          nestedRow;
          context: { $implicit: row.children, level: level + 1 }
        "
      ></ng-container>
    </ng-container>
  </ng-container>
</ng-template>
